@{
    ViewData["Title"] = "ListAllRoles";
}
@section customStyle
{
    <link rel="stylesheet" href="~/theme/plugins/jsgrid/jsgrid.min.css">
    <link rel="stylesheet" href="~/theme/plugins/jsgrid/jsgrid-theme.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="~/theme/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/theme/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <style>
        tfoot {
            display: table-header-group;
        }
    </style>

}
<section class="content-header">
    <h1>
        Manage Roles
    </h1>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="card card-secondary">
            <div class="card-body">
                <div id="modelplaceHolder"></div>
                <div id="RolePlaceHolder">
                    <button class="btn btn-success" type="button" style="margin-bottom:10px" data-toggle="ajax-Modal" data-target="#RoleModal" data-url="@Url.Action("AddRole","Role")"><i class="fa fa-plus"></i> Add New</button>
                    <table id="Roles" class="table table-bordered table-striped full" width="100%">
                        <thead>
                            <tr>
                                <th>Role</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Role</th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>

    </div>

</section>
@section Scripts
{
    <!-- jsGrid -->
    <script src="~/theme/plugins/jsgrid/demos/db.js"></script>
    <script src="~/theme/plugins/jsgrid/jsgrid.min.js"></script>
    <!-- DataTables -->
    <script src="~/theme/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/theme/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/theme/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/theme/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>

    <script src="~/js/ServerApiHandler.js"></script>
    <script src="~/js/BootstrapModalPopUpHandler.js"></script>
    <script>
        function ReloadDataIntoDataTable(filter) {
            var serverApi = new ServerApiHandler();
            var response = serverApi.GetData("@Url.Action("GetRoles", "Role")",filter);
            response.then(json => {
                //console.log(json);
                RoleDataTable.clear();
                RoleDataTable.rows.add(json);
                RoleDataTable.draw();
        });
        }
        function LoadDataIntoDataTable() {

            var serverApi = new ServerApiHandler();
            var response = serverApi.GetData("@Url.Action("GetRoles", "Role")");
            response.then(json => {
            $(document).ready(function () {
                //console.log(json);
                RoleDataTable.clear();
                RoleDataTable.rows.add(json);
                RoleDataTable.draw();
                var popUpmodalObj = new ModalPopUpHandler();
                popUpmodalObj.SetUpModalWhileShowingPopup("modelplaceHolder","RolePlaceHolder");
                popUpmodalObj.SetUpModalWhileClosingPopup("modelplaceHolder", ReloadDataIntoDataTable);
            });
        });
        }
        var RoleDataTable = $('#Roles').DataTable({

                    "processing": true, // for show progress bar
                    "filter": true, // this is for disable filter (search box)
                    "orderMulti": false, // for disable multiple column at once
                    columns:
                    [
                        { "title" : "Role", "data": "role" },
                        {
                            "data": "roleId",
                            "render": function (id) {
                                return "<button type='button' class='btn btn-info btn-sm' data-toggle='ajax-Modal' data-target='#RoleModal' data-url='@Url.Action("EditRole", "Role")"+ '?id=' + id+ "'><i class='fa fa-pen'></i> Edit</button>&nbsp;<button class='btn btn-danger btn-sm' style='margin-left:5px' data-toggle='ajax-Modal' data-target='#RoleModal' data-url='@Url.Action("RemoveRole", "Role")"+ '?id=' + id+ "'><i class='fa fa-trash'></i> Remove</button>"; },
                            "orderable": false,
                            "searchable": false,
                            "width": "150px"

                        }
                    ]
      });

        // individual column search box configuration
        //$('#Roles thead tr').clone(true).appendTo('#Roles thead');
        $('#Roles tfoot tr:eq(0) th').each(function (i) {
            var title = $(this).text();
            if (title != "") {
                $(this).html('<input id="searchId_' + i + '" type="search" class = "form-control form-control-sm" placeholder="Search ' + title + '" />');
                $('#searchId_' + i + '').on('change', function () {
                    var columns = ['role'];
                    var filter = {};
                    $('input[id*=searchId_]').each(function (i) {
                        filter[columns[i]] = this.value;
                    });
                    ReloadDataIntoDataTable(filter);

                });
            }

        });
        // individual column search box configurations
        LoadDataIntoDataTable();
    </script>
}
